<h2>Liste des livres disponibles :</h2>
<app-search-book></app-search-book>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de publication</th>
            <th>Prix</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of books">
            <td>{{b.id}}</td>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.publishDate}}</td>
            <td>{{b.price}}</td>
            <td><button class="btn btn-info" (click)="showBookDetails(b)">Afficher les détails</button></td>
        </tr>
    </tbody>
</table>


<app-detail-book 
[book]="selectedBook"  
*ngIf="selectedBook !== undefined"
(hideChild)="hideBookDetails()"
></app-detail-book>