<h2>Liste des livres disponibles :</h2>
<app-search-book (searchBookEvent)="filterBooks($event)"></app-search-book>
<br/>
<button class="btn btn-success" routerLink="/books/add">Ajouter un livre</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de publication</th>
            <th>Prix</th>
            <th>Détails</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of filteredBooks?filteredBooks:booksToDisplay">
            <td>{{b.id}}</td>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.publishDate | date : 'dd/MM/yy'}}</td>
            <td>{{b.price}}</td>
            <td><button class="btn btn-info" (click)="showBookDetails(b)">Afficher les détails</button></td>
            <td><button class="btn btn-primary" [routerLink]="['/books', 'edit', b.id]">Editer</button></td>
            <td><button class="btn btn-danger" (click)="deleteBook(b.id)">Supprimer</button></td>
        </tr>
    </tbody>
</table>


<app-detail-book 
[book]="selectedBook"  
*ngIf="selectedBook !== undefined"
(hideChild)="hideBookDetails()"
></app-detail-book>