<div class="card" style="width: 18rem;" >
    <img src="{{book!.cover}}" class="card-img-top" alt="{{'Couverture du livre ' + book!.title}}">
    <div class="card-body">
      <h5 class="card-title">{{book!.title}}</h5>
      <p class="card-text">
        Auteur : {{book!.authorId}} <br/>
        Date de publication : {{book!.publishDate | date : 'dd/MM/yy'}}<br/>
        <!--{{selectedBook.publishDate.getDay()}}/{{selectedBook.publishDate.getMonth() + 1}}/{{selectedBook.publishDate.getFullYear()}} -->
        Prix : {{book!.price}}
      </p>
      <button class="btn btn-primary" (click)="hideDetails()">Cacher les détails</button>
    </div>
  </div>
